{
    debug
    http_port ${HTTP_PORT}
    https_port ${HTTPS_PORT}
    order forward_proxy before file_server
}

${DOMAIN} {
    tls {
        on_demand
    }
    route {
        forward_proxy {
            basic_auth ${PROXY_USER} ${PROXY_PASSWORD}
            hide_ip
            hide_via
            probe_resistance
        }
        reverse_proxy ${FAKE_HOST} {
            header_up Host {upstream_hostport}
        }
    }
}
